@model StudentFlat.ViewModels.LoginModel

<h1 class="display-4 mt-4">Вхід на сайт</h1>

<div class="row mt-4 mb-2">
    <div class="col-lg-6 align-content-center">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <label asp-for="Email">Введіть Email:</label>
                    <input type="text" asp-for="Email" />
                    <span style="font-style:italic" asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Введіть пароль:</label>
                    <input asp-for="Password" />
                    <span style="font-style:italic" asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Увійти" class="btn btn-outline-dark" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6 align-content-center">
        <h2>Ще не зареєстровані?</h2>
        <hr />
        <a asp-action="Register" asp-controller="Account">Реєстрація</a>
    </div>
</div>
